In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [ ]:
file_paths = {
    "max_temperature": "data/2024/attributes/max_temperature.csv",
    "mean_temperature": "data/2024/attributes/mean_temperature.csv",
    # "max_precipitation": "data/2024/attributes/max_precipitation.csv",
    # "mean_precipitation": "data/2024/attributes/mean_precipitation.csv",
    # "mslp": "data/2024/attributes/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

In [ ]:
merged_df

In [ ]:
# Save to a new CSV file
if os.path.exists("data/2024/temp/temp_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/2024/temp/temp_data.csv", index=False)
    print("File created")

In [3]:
os.chdir("..")
os.getcwd()

'c:\\Laukik\\EDA\\weather'

In [4]:
df_imd  = pd.read_csv("imd_data\complete_15_years.csv")

C:\Users\LaukikS\AppData\Local\Temp\ipykernel_3520\1396634479.py:1: DtypeWarning: Columns (12,15,16,17,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imd  = pd.read_csv("imd_data\complete_15_years.csv")

In [5]:
df_imd

,INDEX,YEAR,MN,HR,DT,SLP,MSLP,DBT,WBT,DPT,...,h,c,a,Ht,RF,EVP,DW,P,H,WAT
0,43003,2010,1,0,1,1008.4,1010.1,21.2,17.4,14.8,...,9,0,0,99,0.0,,,,,
1,43003,2010,1,0,2,1009.5,1011.2,22.0,19.4,17.8,...,9,0,0,99,0.0,,,,,
2,43003,2010,1,0,3,1011.5,1013.2,24.0,21.4,20.0,...,5,6,1,20,0.0,,,,,
3,43003,2010,1,0,4,1012.0,1013.7,22.4,18.6,16.1,...,9,0,0,99,0.0,,,,,
4,43003,2010,1,0,5,1009.3,1011.0,19.4,18.4,17.8,...,9,0,0,99,0.0,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35271,43003,2024,11,84,26,0.0,0.0,19.4,NaN,13.5,...,9,,,,0.0,,,,,
35272,43003,2024,11,84,27,0.0,0.0,22.0,NaN,11.7,...,9,,,,0.0,,,,,
35273,43003,2024,11,84,28,0.0,0.0,19.6,NaN,12.1,...,9,,,,0.0,,,,,
35274,43003,2024,11,84,29,0.0,0.0,22.0,NaN,12.5,...,9,,,,0.0,,,,,
35275,43003,2024,11,84,30,0.0,0.0,19.4,NaN,14.6,...,9,,,,0.0,,,,,

In [6]:
df_1 = df_imd[['YEAR', 'MN', 'HR', 'DT', 'MSLP', 'DBT','WBT','DPT', 'RH']]

In [7]:
df_1

       YEAR  MN  HR  DT    MSLP   DBT   WBT   DPT  RH
0      2010   1   0   1  1010.1  21.2  17.4  14.8  67
1      2010   1   0   2  1011.2  22.0  19.4  17.8  77
2      2010   1   0   3  1013.2  24.0  21.4  20.0  78
3      2010   1   0   4  1013.7  22.4  18.6  16.1  68
4      2010   1   0   5  1011.0  19.4  18.4  17.8  90
...     ...  ..  ..  ..     ...   ...   ...   ...  ..
35271  2024  11  84  26     0.0  19.4   NaN  13.5  69
35272  2024  11  84  27     0.0  22.0   NaN  11.7  52
35273  2024  11  84  28     0.0  19.6   NaN  12.1  62
35274  2024  11  84  29     0.0  22.0   NaN  12.5  55
35275  2024  11  84  30     0.0  19.4   NaN  14.6  74

[35276 rows x 9 columns]

In [8]:
df_1.isnull().sum()

YEAR       0
MN         0
HR         0
DT         0
MSLP       0
DBT        2
WBT     1216
DPT        0
RH         0
dtype: int64

In [9]:
df_1 = df_1.interpolate() 
df_1

       YEAR  MN  HR  DT    MSLP   DBT   WBT   DPT  RH
0      2010   1   0   1  1010.1  21.2  17.4  14.8  67
1      2010   1   0   2  1011.2  22.0  19.4  17.8  77
2      2010   1   0   3  1013.2  24.0  21.4  20.0  78
3      2010   1   0   4  1013.7  22.4  18.6  16.1  68
4      2010   1   0   5  1011.0  19.4  18.4  17.8  90
...     ...  ..  ..  ..     ...   ...   ...   ...  ..
35271  2024  11  84  26     0.0  19.4  27.4  13.5  69
35272  2024  11  84  27     0.0  22.0  27.4  11.7  52
35273  2024  11  84  28     0.0  19.6  27.4  12.1  62
35274  2024  11  84  29     0.0  22.0  27.4  12.5  55
35275  2024  11  84  30     0.0  19.4  27.4  14.6  74

[35276 rows x 9 columns]

In [10]:
df_1.isnull().sum()

YEAR    0
MN      0
HR      0
DT      0
MSLP    0
DBT     0
WBT     0
DPT     0
RH      0
dtype: int64

In [11]:
df_1

       YEAR  MN  HR  DT    MSLP   DBT   WBT   DPT  RH
0      2010   1   0   1  1010.1  21.2  17.4  14.8  67
1      2010   1   0   2  1011.2  22.0  19.4  17.8  77
2      2010   1   0   3  1013.2  24.0  21.4  20.0  78
3      2010   1   0   4  1013.7  22.4  18.6  16.1  68
4      2010   1   0   5  1011.0  19.4  18.4  17.8  90
...     ...  ..  ..  ..     ...   ...   ...   ...  ..
35271  2024  11  84  26     0.0  19.4  27.4  13.5  69
35272  2024  11  84  27     0.0  22.0  27.4  11.7  52
35273  2024  11  84  28     0.0  19.6  27.4  12.1  62
35274  2024  11  84  29     0.0  22.0  27.4  12.5  55
35275  2024  11  84  30     0.0  19.4  27.4  14.6  74

[35276 rows x 9 columns]

In [12]:
df_1.isnull().sum()

YEAR    0
MN      0
HR      0
DT      0
MSLP    0
DBT     0
WBT     0
DPT     0
RH      0
dtype: int64

In [13]:
if os.path.exists("notebook\data\processed_imd.csv"):
    print("processed data exists")
else:
    df_1.to_csv("notebook\data\processed_imd.csv", index= False)
    print("processed data created")

processed data created