In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [48]:
file_paths = {
    "max_temperature": "data/2024/attributes/max_temperature.csv",
    "mean_temperature": "data/2024/attributes/mean_temperature.csv",
    # "max_precipitation": "data/2024/attributes/max_precipitation.csv",
    # "mean_precipitation": "data/2024/attributes/mean_precipitation.csv",
    # "mslp": "data/2024/attributes/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

In [49]:
merged_df

    valid_time  latitude  longitude  max_temperature  mean_temperature
0     01-01-24     18.80       72.8        300.28345         298.79312
1     01-01-24     19.05       72.8        300.91122         298.72922
2     01-02-24     18.80       72.8        298.07544         296.97256
3     01-02-24     19.05       72.8        298.61383         296.96880
4     01-03-24     18.80       72.8        300.19815         299.41925
..         ...       ...        ...              ...               ...
727   31-08-24     19.05       72.8        301.93417         300.67007
728   31-10-24     18.80       72.8        303.40050         302.30900
729   31-10-24     19.05       72.8        304.09170         302.54822
730   31-12-24     18.80       72.8        300.60540         299.00990
731   31-12-24     19.05       72.8        301.33770         299.07617

[732 rows x 5 columns]

In [50]:
# Save to a new CSV file
if os.path.exists("data/2024/temp/temp_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/2024/temp/temp_data.csv", index=False)
    print("File created")

File created