In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [ ]:
file_paths = {
    "max_temperature": "data/_2013/_attributes/max_temperature.csv",
    "mean_temperature": "data/_2013/_attributes/mean_temperature.csv",
    "max_precipitation": "data/_2013/_attributes/max_precipitation.csv",
    "mean_precipitation": "data/_2013/_attributes/mean_precipitation.csv",
    "mslp": "data/_2013/_attributes/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

File created

In [19]:
df = pd.read_csv("data\_2013\_merged\merged_data.csv")
df

,valid_time,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp
0,2013-01-01,18.80,72.8,299.05432,298.09018,0.000000,0.000000e+00,101133.750
1,2013-01-01,19.05,72.8,299.36420,297.88724,0.000000,0.000000e+00,101130.880
2,2013-01-02,18.80,72.8,298.89770,297.47516,0.000002,2.900003e-07,101268.055
3,2013-01-02,19.05,72.8,299.39655,297.32275,0.000008,7.627326e-07,101269.910
4,2013-01-03,18.80,72.8,298.57944,296.75388,0.000000,0.000000e+00,101311.086
...,...,...,...,...,...,...,...,...
725,2013-12-29,19.05,72.8,298.80722,296.58868,0.000000,0.000000e+00,101294.930
726,2013-12-30,18.80,72.8,297.89938,296.77527,0.000000,0.000000e+00,101314.760
727,2013-12-30,19.05,72.8,298.11606,296.58182,0.000000,0.000000e+00,101315.160
728,2013-12-31,18.80,72.8,298.16754,296.70715,0.000000,0.000000e+00,101401.780
729,2013-12-31,19.05,72.8,298.60593,296.58966,0.000000,0.000000e+00,101408.250

In [20]:
# Save to a new CSV file
if os.path.exists("data/_2013/_merged/merged_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/_2013/_merged/merged_data.csv", index=False)
    print("File created")

File alreay exists