In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [3]:
file_paths = {
    "max_temperature": "data/_2019/_attributes/max_temperature.csv",
    "mean_temperature": "data/_2019/_attributes/mean_temperature.csv",
    "max_precipitation": "data/_2019/_attributes/max_precipitation.csv",
    "mean_precipitation": "data/_2019/_attributes/mean_precipitation.csv",
    "mslp": "data/_2019/_attributes/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

# Save to a new CSV file
if os.path.exists("data/_2019/_merged/merged_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/_2019/_merged/merged_data.csv", index=False)
    print("File created")

# Display the merged DataFrame head

File created

In [4]:
df = pd.read_csv("data\_2019\_merged\merged_data.csv")
df

,valid_time,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp
0,2019-01-01,18.80,72.8,299.21042,296.81256,0.000000e+00,0.000000e+00,101726.086
1,2019-01-01,19.05,72.8,299.89655,296.60733,0.000000e+00,0.000000e+00,101731.230
2,2019-01-02,18.80,72.8,299.55840,297.16934,0.000000e+00,0.000000e+00,101696.210
3,2019-01-02,19.05,72.8,300.08356,296.94342,0.000000e+00,0.000000e+00,101702.500
4,2019-01-03,18.80,72.8,299.06940,297.01758,0.000000e+00,0.000000e+00,101749.590
...,...,...,...,...,...,...,...,...
725,2019-12-29,19.05,72.8,301.35780,298.70673,2.621720e-05,1.728292e-06,101194.120
726,2019-12-30,18.80,72.8,299.42170,298.01070,0.000000e+00,0.000000e+00,101193.810
727,2019-12-30,19.05,72.8,299.78290,297.80020,1.906337e-07,7.943072e-09,101193.180
728,2019-12-31,18.80,72.8,298.12000,296.77167,9.533869e-08,3.972445e-09,101329.120
729,2019-12-31,19.05,72.8,298.48940,296.60070,0.000000e+00,0.000000e+00,101330.305