In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [2]:
os.getcwd()

'c:\\Laukik\\EDA\\weather\\notebook'

In [3]:
os.chdir("..")
os.getcwd()

'c:\\Laukik\\EDA\\weather'

In [4]:
santacruz_df  = pd.read_csv("imd_data\santacruz_data.csv")
santacruz_df

C:\Users\LaukikS\AppData\Local\Temp\ipykernel_21744\3974937724.py:1: DtypeWarning: Columns (12,15,16,17,26) have mixed types. Specify dtype option on import or set low_memory=False.
  santacruz_df  = pd.read_csv("imd_data\santacruz_data.csv")

,INDEX,YEAR,MN,HR,DT,SLP,MSLP,DBT,WBT,DPT,...,c,a,Ht,RF,EVP,DW,P,H,WAT,Unnamed: 36
0,43003,2010,1,0,1,1008.4,1010.1,21.2,17.4,14.8,...,0,0,99,0.0,,,,,,NaN
1,43003,2010,1,0,2,1009.5,1011.2,22.0,19.4,17.8,...,0,0,99,0.0,,,,,,NaN
2,43003,2010,1,0,3,1011.5,1013.2,24.0,21.4,20.0,...,6,1,20,0.0,,,,,,NaN
3,43003,2010,1,0,4,1012.0,1013.7,22.4,18.6,16.1,...,0,0,99,0.0,,,,,,NaN
4,43003,2010,1,0,5,1009.3,1011.0,19.4,18.4,17.8,...,0,0,99,0.0,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35271,43003,2024,11,84,26,0.0,0.0,19.4,NaN,13.5,...,,,,0.0,,,,,,NaN
35272,43003,2024,11,84,27,0.0,0.0,22.0,NaN,11.7,...,,,,0.0,,,,,,NaN
35273,43003,2024,11,84,28,0.0,0.0,19.6,NaN,12.1,...,,,,0.0,,,,,,NaN
35274,43003,2024,11,84,29,0.0,0.0,22.0,NaN,12.5,...,,,,0.0,,,,,,NaN
35275,43003,2024,11,84,30,0.0,0.0,19.4,NaN,14.6,...,,,,0.0,,,,,,NaN

In [5]:
required_columns = ["INDEX","YEAR", "HR", "DT", "MN", "DPT", "WBT", "DBT", "SLP", "MSLP", "RH", "DD", "FFF", "RF"]

In [6]:
santacruz_new_columns = santacruz_df[required_columns].copy()
santacruz_new_columns

,INDEX,YEAR,HR,DT,MN,DPT,WBT,DBT,SLP,MSLP,RH,DD,FFF,RF
0,43003,2010,0,1,1,14.8,17.4,21.2,1008.4,1010.1,67,00,000,0.0
1,43003,2010,0,2,1,17.8,19.4,22.0,1009.5,1011.2,77,00,000,0.0
2,43003,2010,0,3,1,20.0,21.4,24.0,1011.5,1013.2,78,00,000,0.0
3,43003,2010,0,4,1,16.1,18.6,22.4,1012.0,1013.7,68,32,006,0.0
4,43003,2010,0,5,1,17.8,18.4,19.4,1009.3,1011.0,90,00,000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35271,43003,2024,84,26,11,13.5,NaN,19.4,0.0,0.0,69,00,000,0.0
35272,43003,2024,84,27,11,11.7,NaN,22.0,0.0,0.0,52,00,000,0.0
35273,43003,2024,84,28,11,12.1,NaN,19.6,0.0,0.0,62,00,000,0.0
35274,43003,2024,84,29,11,12.5,NaN,22.0,0.0,0.0,55,05,006,0.0
35275,43003,2024,84,30,11,14.6,NaN,19.4,0.0,0.0,74,00,000,0.0

In [7]:
santacruz_new_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35276 entries, 0 to 35275
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   INDEX   35276 non-null  int64
 1   YEAR    35276 non-null  int64
 2   HR      35276 non-null  int64
 3   DT      35276 non-null  int64
 4   MN      35276 non-null  int64
 5   DPT     35276 non-null  float64
 6   WBT     34060 non-null  float64
 7   DBT     35274 non-null  float64
 8   SLP     35276 non-null  float64
 9   MSLP    35276 non-null  float64
 10  RH      35276 non-null  int64
 11  DD      35276 non-null  object
 12  FFF     35276 non-null  object
 13  RF      34893 non-null  float64
dtypes: float64(6), int64(6), object(2)
memory usage: 3.8+ MB

In [13]:
santacruz_new_columns["FFF"] = pd.to_numeric(santacruz_new_columns["FFF"], errors="coerce")
santacruz_new_columns["DD"] = pd.to_numeric(santacruz_new_columns["DD"], errors="coerce")

In [14]:
santacruz_new_columns.isnull().sum()

INDEX       0
YEAR        0
HR          0
DT          0
MN          0
DPT         0
WBT      1216
DBT         2
SLP         0
MSLP        0
RH          0
DD          8
FFF        13
RF        383
dtype: int64

In [15]:
santacruz_cleaned = santacruz_new_columns.interpolate()
santacruz_cleaned.isnull().sum()

INDEX    0
YEAR     0
HR       0
DT       0
MN       0
DPT      0
WBT      0
DBT      0
SLP      0
MSLP     0
RH       0
DD       0
FFF      0
RF       0
dtype: int64

In [17]:
if os.path.exists(r"notebook\data\unlabelled\santacruz_cleaned.csv"):
    print("processed data exists")
else:
    santacruz_cleaned.to_csv(r"notebook\data\unlabelled\santacruz_cleaned.csv", index= False)
    print("processed data created")

processed data exists

In [16]:
santacruz_cleaned

,INDEX,YEAR,HR,DT,MN,DPT,WBT,DBT,SLP,MSLP,RH,DD,FFF,RF
0,43003,2010,0,1,1,14.8,17.4,21.2,1008.4,1010.1,67,0.0,0.0,0.0
1,43003,2010,0,2,1,17.8,19.4,22.0,1009.5,1011.2,77,0.0,0.0,0.0
2,43003,2010,0,3,1,20.0,21.4,24.0,1011.5,1013.2,78,0.0,0.0,0.0
3,43003,2010,0,4,1,16.1,18.6,22.4,1012.0,1013.7,68,32.0,6.0,0.0
4,43003,2010,0,5,1,17.8,18.4,19.4,1009.3,1011.0,90,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35271,43003,2024,84,26,11,13.5,27.4,19.4,0.0,0.0,69,0.0,0.0,0.0
35272,43003,2024,84,27,11,11.7,27.4,22.0,0.0,0.0,52,0.0,0.0,0.0
35273,43003,2024,84,28,11,12.1,27.4,19.6,0.0,0.0,62,0.0,0.0,0.0
35274,43003,2024,84,29,11,12.5,27.4,22.0,0.0,0.0,55,5.0,6.0,0.0
35275,43003,2024,84,30,11,14.6,27.4,19.4,0.0,0.0,74,0.0,0.0,0.0

In [60]:
df = pd.read_csv(r"notebook\data\unlabelled\santacruz_cleaned.csv")

In [61]:
df

       INDEX  YEAR  HR  DT  MN   DPT   WBT       DBT
0      43003  2010   0   1   1  14.8  17.4  21.20000
1      43003  2010   0   2   1  17.8  19.4  22.00000
2      43003  2010   0   3   1  20.0  21.4  24.00000
3      43003  2010   0   4   1  16.1  18.6  22.40000
4      43003  2010   0   5   1  17.8  18.4  19.40000
...      ...   ...  ..  ..  ..   ...   ...       ...
41052  43003  2024  84  27  12   NaN   NaN  22.60570
41053  43003  2024  84  28  12   NaN   NaN  23.04580
41054  43003  2024  84  29  12   NaN   NaN  21.40127
41055  43003  2024  84  30  12   NaN   NaN  23.43057
41056  43003  2024  84  31  12   NaN   NaN  21.38564

[41057 rows x 8 columns]

In [62]:
normals = {
    1: 30.4, 2: 31.1, 3: 32.6, 4: 33.0, 5: 33.3, 6: 32.0,
    7: 29.9, 8: 29.5, 9: 30.2, 10: 33.1, 11: 33.4, 12: 31.9
}
df.insert(loc=8, column='Normal_Temp', value=df['MN'].map(normals))

In [63]:
df

       INDEX  YEAR  HR  DT  MN   DPT   WBT       DBT  Normal_Temp
0      43003  2010   0   1   1  14.8  17.4  21.20000         30.4
1      43003  2010   0   2   1  17.8  19.4  22.00000         30.4
2      43003  2010   0   3   1  20.0  21.4  24.00000         30.4
3      43003  2010   0   4   1  16.1  18.6  22.40000         30.4
4      43003  2010   0   5   1  17.8  18.4  19.40000         30.4
...      ...   ...  ..  ..  ..   ...   ...       ...          ...
41052  43003  2024  84  27  12   NaN   NaN  22.60570         31.9
41053  43003  2024  84  28  12   NaN   NaN  23.04580         31.9
41054  43003  2024  84  29  12   NaN   NaN  21.40127         31.9
41055  43003  2024  84  30  12   NaN   NaN  23.43057         31.9
41056  43003  2024  84  31  12   NaN   NaN  21.38564         31.9

[41057 rows x 9 columns]

In [64]:
df['DATE'] = pd.to_datetime(df[['YEAR', 'MN', 'DT']].rename(columns={'MN': 'month', 'DT': 'day'}))
df.set_index('DATE', inplace=True)
df

            INDEX  YEAR  HR  DT  MN   DPT   WBT       DBT  Normal_Temp
DATE
2010-01-01  43003  2010   0   1   1  14.8  17.4  21.20000         30.4
2010-01-02  43003  2010   0   2   1  17.8  19.4  22.00000         30.4
2010-01-03  43003  2010   0   3   1  20.0  21.4  24.00000         30.4
2010-01-04  43003  2010   0   4   1  16.1  18.6  22.40000         30.4
2010-01-05  43003  2010   0   5   1  17.8  18.4  19.40000         30.4
...           ...   ...  ..  ..  ..   ...   ...       ...          ...
2024-12-27  43003  2024  84  27  12   NaN   NaN  22.60570         31.9
2024-12-28  43003  2024  84  28  12   NaN   NaN  23.04580         31.9
2024-12-29  43003  2024  84  29  12   NaN   NaN  21.40127         31.9
2024-12-30  43003  2024  84  30  12   NaN   NaN  23.43057         31.9
2024-12-31  43003  2024  84  31  12   NaN   NaN  21.38564         31.9

[41057 rows x 9 columns]

In [65]:
df.drop(columns=['INDEX', 'YEAR', 'MN', 'DT', 'HR'], inplace=True)

In [66]:
daily_df = df.resample('D').mean()

In [67]:
daily_df

                DPT     WBT        DBT  Normal_Temp
DATE
2010-01-01  16.0875  19.775  25.725000         30.4
2010-01-02  18.2000  21.375  26.975000         30.4
2010-01-03  19.7375  22.025  26.300000         30.4
2010-01-04  18.0250  20.450  24.575000         30.4
2010-01-05  18.5500  20.575  24.175000         30.4
...             ...     ...        ...          ...
2024-12-27      NaN     NaN  21.847186         31.9
2024-12-28      NaN     NaN  21.261927         31.9
2024-12-29      NaN     NaN  21.481941         31.9
2024-12-30      NaN     NaN  21.161551         31.9
2024-12-31      NaN     NaN  21.347448         31.9

[5479 rows x 4 columns]

In [68]:
daily_df.isnull().sum()

DPT            725
WBT            725
DBT              9
Normal_Temp      9
dtype: int64

In [70]:
if os.path.exists(r"notebook\data\unlabelled\santacruz_daily.csv"):
    print("Labelled processed data exists")
else:
    daily_df.to_csv(r"notebook\data\unlabelled\santacruz_daily.csv")
    print("Labelled processed data created")

Labelled processed data created

In [71]:
df_daily = pd.read_csv(r"notebook\data\unlabelled\santacruz_daily.csv")

In [72]:
df_daily

            DATE      DPT     WBT        DBT  Normal_Temp
0     2010-01-01  16.0875  19.775  25.725000         30.4
1     2010-01-02  18.2000  21.375  26.975000         30.4
2     2010-01-03  19.7375  22.025  26.300000         30.4
3     2010-01-04  18.0250  20.450  24.575000         30.4
4     2010-01-05  18.5500  20.575  24.175000         30.4
...          ...      ...     ...        ...          ...
5474  2024-12-27      NaN     NaN  21.847186         31.9
5475  2024-12-28      NaN     NaN  21.261927         31.9
5476  2024-12-29      NaN     NaN  21.481941         31.9
5477  2024-12-30      NaN     NaN  21.161551         31.9
5478  2024-12-31      NaN     NaN  21.347448         31.9

[5479 rows x 5 columns]

In [73]:
df_daily.isnull().sum()

DATE             0
DPT            725
WBT            725
DBT              9
Normal_Temp      9
dtype: int64

In [74]:
df_daily = df_daily.interpolate()

C:\Users\LaukikS\AppData\Local\Temp\ipykernel_21744\916717002.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_daily = df_daily.interpolate()

In [75]:
df_daily.isnull().sum()

DATE           0
DPT            0
WBT            0
DBT            0
Normal_Temp    0
dtype: int64

In [76]:
if os.path.exists(r"notebook\data\unlabelled\filled_santacruz_daily.csv"):
    print("filled data exists")
else:
    df_daily.to_csv(r"notebook\data\unlabelled\filled_santacruz_daily.csv", index=False)
    print("filled data created")

filled data created