In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [2]:
os.getcwd()

'c:\\Laukik\\EDA\\weather\\notebook'

In [3]:
os.chdir("..")
os.getcwd()

'c:\\Laukik\\EDA\\weather'

In [ ]:
santacruz_df  = pd.read_csv("imd_data\santacruz_data.csv")
santacruz_df

In [ ]:
required_columns = ["INDEX","YEAR", "HR", "DT", "MN", "DPT", "WBT", "DBT", "SLP", "MSLP", "RH", "DD", "FFF", "RF"]

In [ ]:
santacruz_new_columns = santacruz_df[required_columns].copy()
santacruz_new_columns

In [ ]:
santacruz_new_columns.info()

In [ ]:
santacruz_new_columns["FFF"] = pd.to_numeric(santacruz_new_columns["FFF"], errors="coerce")
santacruz_new_columns["DD"] = pd.to_numeric(santacruz_new_columns["DD"], errors="coerce")

In [ ]:
santacruz_new_columns.isnull().sum()

In [ ]:
santacruz_cleaned = santacruz_new_columns.interpolate()
santacruz_cleaned.isnull().sum()

In [ ]:
normals = {
    1: 30.4, 2: 31.1, 3: 32.6, 4: 33.0, 5: 33.3, 6: 32.0,
    7: 29.9, 8: 29.5, 9: 30.2, 10: 33.1, 11: 33.4, 12: 31.9
}
santacruz_cleaned.insert(loc=8, column='Normal_Temp', value=santacruz_cleaned['MN'].map(normals))

In [ ]:
santacruz_cleaned

In [ ]:
if os.path.exists(r"notebook\data\unlabelled\santacruz_normals.csv"):
    print("processed data exists")
else:
    santacruz_cleaned.to_csv(r"notebook\data\unlabelled\santacruz_normals.csv", index= False)
    print("processed data created")

In [ ]:
santacruz_cleaned

In [16]:
df = pd.read_csv(r"notebook\data\unlabelled\combined_data.csv")

In [17]:
df

       YEAR  HR  DT  MN   DPT   WBT   DBT
0      2010   0   1   1  14.8  17.4  21.2
1      2010   0   2   1  17.8  19.4  22.0
2      2010   0   3   1  20.0  21.4  24.0
3      2010   0   4   1  16.1  18.6  22.4
4      2010   0   5   1  17.8  18.4  19.4
...     ...  ..  ..  ..   ...   ...   ...
43620  2025  19  17   4   NaN   NaN   NaN
43621  2025  20  17   4   NaN   NaN   NaN
43622  2025  21  17   4   NaN   NaN   NaN
43623  2025  22  17   4   NaN   NaN   NaN
43624  2025  23  17   4   NaN   NaN   NaN

[43625 rows x 7 columns]

In [18]:
normals = {
    1: 30.4, 2: 31.1, 3: 32.6, 4: 33.0, 5: 33.3, 6: 32.0,
    7: 29.9, 8: 29.5, 9: 30.2, 10: 33.1, 11: 33.4, 12: 31.9
}
df.insert(loc=7, column='Normal_Temp', value=df['MN'].map(normals))

In [19]:
df.isnull().sum()

YEAR            0
HR              0
DT              0
MN              0
DPT            42
WBT            42
DBT            42
Normal_Temp     0
dtype: int64

In [20]:
df=df.interpolate()

In [22]:
if os.path.exists(r"notebook\data\unlabelled\santacruz_combined_normal.csv"):
    print("Labelled processed data exists")
else:
    df.to_csv(r"notebook\data\unlabelled\santacruz_combined_normal.csv", index=False)
    print("Labelled processed data created")

Labelled processed data created

In [ ]:
df['DATE'] = pd.to_datetime(df[['YEAR', 'MN', 'DT']].rename(columns={'MN': 'month', 'DT': 'day'}))
df.set_index('DATE', inplace=True)
df

In [ ]:
df.drop(columns=['YEAR', 'MN', 'DT', 'HR'], inplace=True)

In [ ]:
daily_df = df.resample('D').mean()

In [ ]:
daily_df

In [ ]:
daily_df.isnull().sum()

In [ ]:
daily_df = daily_df.interpolate()
daily_df.isnull().sum()

In [ ]:
if os.path.exists(r"notebook\data\unlabelled\santacruz_daily.csv"):
    print("Labelled processed data exists")
else:
    daily_df.to_csv(r"notebook\data\unlabelled\santacruz_daily.csv")
    print("Labelled processed data created")