In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [5]:
file_paths = {
    "max_temperature": "data/_2022/_attributes/max_temperature.csv",
    "mean_temperature": "data/_2022/_attributes/mean_temperature.csv",
    "max_precipitation": "data/_2022/_attributes/max_precipitation.csv",
    "mean_precipitation": "data/_2022/_attributes/mean_precipitation.csv",
    "mslp": "data/_2022/_attributes/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

# Save to a new CSV file
if os.path.exists("data/_2022/_merged/merged_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/_2022/_merged/merged_data.csv", index=False)
    print("File created")

# Display the merged DataFrame head

File created

In [6]:
df = pd.read_csv("data\_2022\_merged\merged_data.csv")
df

,valid_time,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp
0,2022-01-01,18.80,72.8,300.71133,298.56198,0.000000e+00,0.000000e+00,101597.260
1,2022-01-01,19.05,72.8,301.39688,298.33347,0.000000e+00,0.000000e+00,101607.690
2,2022-01-02,18.80,72.8,300.84480,298.62933,1.906774e-07,1.588978e-08,101467.840
3,2022-01-02,19.05,72.8,301.44702,298.47852,0.000000e+00,0.000000e+00,101474.820
4,2022-01-03,18.80,72.8,300.86963,298.79434,0.000000e+00,0.000000e+00,101401.260
...,...,...,...,...,...,...,...,...
725,2022-12-29,19.05,72.8,300.55960,297.87854,0.000000e+00,0.000000e+00,101602.900
726,2022-12-30,18.80,72.8,300.11480,298.08383,0.000000e+00,0.000000e+00,101704.600
727,2022-12-30,19.05,72.8,300.63086,297.82187,0.000000e+00,0.000000e+00,101708.836
728,2022-12-31,18.80,72.8,299.76215,297.80264,0.000000e+00,0.000000e+00,101665.710
729,2022-12-31,19.05,72.8,300.20575,297.49173,0.000000e+00,0.000000e+00,101671.460