In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [2]:
file_paths = {
    "max_temperature": "data/_2021/_attributes/max_temperature.csv",
    "mean_temperature": "data/_2021/_attributes/mean_temperature.csv",
    "max_precipitation": "data/_2021/_attributes/max_precipitation.csv",
    "mean_precipitation": "data/_2021/_attributes/mean_precipitation.csv",
    "mslp": "data/_2021/_attributes/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

# Save to a new CSV file
if os.path.exists("data/_2021/_merged/merged_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/_2021/_merged/merged_data.csv", index=False)
    print("File created")

# Display the merged DataFrame head

File alreay exists

In [3]:
df = pd.read_csv("data\_2021\_merged\merged_data.csv")
df

,valid_time,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp
0,2021-01-01,18.80,72.8,300.45600,298.66147,1.430090e-06,1.072568e-07,101148.020
1,2021-01-01,19.05,72.8,300.81647,298.34560,5.725639e-07,2.393320e-08,101149.620
2,2021-01-02,18.80,72.8,299.72320,298.40260,2.307208e-05,1.219545e-06,101228.520
3,2021-01-02,19.05,72.8,300.03840,298.26297,2.018405e-05,8.813906e-07,101229.260
4,2021-01-03,18.80,72.8,299.19290,297.71910,3.289670e-05,2.586754e-06,101083.520
...,...,...,...,...,...,...,...,...
725,2021-12-29,19.05,72.8,298.93832,296.70615,0.000000e+00,0.000000e+00,101407.810
726,2021-12-30,18.80,72.8,300.13336,297.40598,0.000000e+00,0.000000e+00,101458.164
727,2021-12-30,19.05,72.8,300.14650,297.17660,0.000000e+00,0.000000e+00,101470.370
728,2021-12-31,18.80,72.8,300.68190,298.44340,0.000000e+00,0.000000e+00,101548.280
729,2021-12-31,19.05,72.8,300.98187,298.23853,0.000000e+00,0.000000e+00,101561.220