In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [8]:
file_paths = {
    "max_temperature": "data/_2018/_attributes/max_temperature.csv",
    "mean_temperature": "data/_2018/_attributes/mean_temperature.csv",
    "max_precipitation": "data/_2018/_attributes/max_precipitation.csv",
    "mean_precipitation": "data/_2018/_attributes/mean_precipitation.csv",
    "mslp": "data/_2018/_attributes/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

# Save to a new CSV file
if os.path.exists("data/_2018/_merged/merged_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/_2018/_merged/merged_data.csv", index=False)
    print("File created")

# Display the merged DataFrame head

File created

In [9]:
df = pd.read_csv("data\_2018\_merged\merged_data.csv")
df

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\david\AppData\Local\Temp\ipykernel_21032\3081624619.py:1: SyntaxWarning: invalid escape sequence '\_'
  df = pd.read_csv("data\_2018\_merged\merged_data.csv")

,valid_time,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp
0,2018-01-01,18.80,72.8,298.72845,296.96060,0.0,0.0,101050.280
1,2018-01-01,19.05,72.8,299.25476,296.76865,0.0,0.0,101053.010
2,2018-01-02,18.80,72.8,298.49805,296.64902,0.0,0.0,101010.164
3,2018-01-02,19.05,72.8,298.95288,296.37167,0.0,0.0,101013.180
4,2018-01-03,18.80,72.8,298.84448,296.84628,0.0,0.0,101136.150
...,...,...,...,...,...,...,...,...
725,2018-12-29,19.05,72.8,299.91870,296.35983,0.0,0.0,101437.180
726,2018-12-30,18.80,72.8,300.20273,296.89093,0.0,0.0,101584.000
727,2018-12-30,19.05,72.8,300.47470,296.52808,0.0,0.0,101596.240
728,2018-12-31,18.80,72.8,299.53107,296.79623,0.0,0.0,101704.210
729,2018-12-31,19.05,72.8,300.22626,296.50507,0.0,0.0,101712.250