In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings

In [42]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import RidgeClassifier
from sklearn.svm import SVC
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostClassifier
from xgboost import XGBClassifier

In [43]:
df = pd.read_csv("data/_5year_heat_labelled.csv")

In [44]:
df

,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp,month,day_of_year,year,heatwave_label
0,18.80,72.8,299.21042,296.81256,0.0,0.0,101726.086,1,1,2019,0
1,19.05,72.8,299.89655,296.60733,0.0,0.0,101731.230,1,1,2019,0
2,18.80,72.8,299.55840,297.16934,0.0,0.0,101696.210,1,2,2019,0
3,19.05,72.8,300.08356,296.94342,0.0,0.0,101702.500,1,2,2019,0
4,18.80,72.8,299.06940,297.01758,0.0,0.0,101749.590,1,3,2019,0
...,...,...,...,...,...,...,...,...,...,...,...
4379,19.05,72.8,300.16570,298.23690,0.0,0.0,101466.620,12,364,2024,0
4380,18.80,72.8,300.97717,298.98740,0.0,0.0,101442.690,12,365,2024,0
4381,19.05,72.8,301.34230,299.03720,0.0,0.0,101448.500,12,365,2024,0
4382,18.80,72.8,300.60540,299.00990,0.0,0.0,101487.400,12,366,2024,0
4383,19.05,72.8,301.33770,299.07617,0.0,0.0,101493.870,12,366,2024,0

In [45]:
X = df.drop(columns=['heatwave_label'], axis=1)
X

,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp,month,day_of_year,year
0,18.80,72.8,299.21042,296.81256,0.0,0.0,101726.086,1,1,2019
1,19.05,72.8,299.89655,296.60733,0.0,0.0,101731.230,1,1,2019
2,18.80,72.8,299.55840,297.16934,0.0,0.0,101696.210,1,2,2019
3,19.05,72.8,300.08356,296.94342,0.0,0.0,101702.500,1,2,2019
4,18.80,72.8,299.06940,297.01758,0.0,0.0,101749.590,1,3,2019
...,...,...,...,...,...,...,...,...,...,...
4379,19.05,72.8,300.16570,298.23690,0.0,0.0,101466.620,12,364,2024
4380,18.80,72.8,300.97717,298.98740,0.0,0.0,101442.690,12,365,2024
4381,19.05,72.8,301.34230,299.03720,0.0,0.0,101448.500,12,365,2024
4382,18.80,72.8,300.60540,299.00990,0.0,0.0,101487.400,12,366,2024
4383,19.05,72.8,301.33770,299.07617,0.0,0.0,101493.870,12,366,2024

In [46]:
y = df['heatwave_label']
y

0       0
1       0
2       0
3       0
4       0
       ..
4379    0
4380    0
4381    0
4382    0
4383    0
Name: heatwave_label, Length: 4384, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((3507, 10), (877, 10))

In [48]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [49]:
models = {
    "Ridge": RidgeClassifier(),
    "K-Neighbors Classifier": KNeighborsClassifier(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest Classifier": RandomForestClassifier(),
    "XGBClassifier": XGBClassifier(), 
    "CatBoosting Classifier": CatBoostClassifier(verbose=False),
    "AdaBoost Classifier": AdaBoostClassifier(),
    "SVM": SVC()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('\n')

Ridge
Model performance for Training set
- Root Mean Squared Error: 0.3025
- Mean Absolute Error: 0.0915
- R2 Score: -0.0011
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.2885
- Mean Absolute Error: 0.0832
- R2 Score: 0.0285


K-Neighbors Classifier
Model performance for Training set
- Root Mean Squared Error: 0.2790
- Mean Absolute Error: 0.0778
- R2 Score: 0.1486
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.3427
- Mean Absolute Error: 0.1174
- R2 Score: -0.3707


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0827
- Mean Absolute Error: 0.0068
- R2 Score: 0.9202


Random Forest Classifier
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0893
- Mean Absolute Error: 0.0080
- R2 Score: 0.9068


XGBClassifier
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0585
- Mean Absolute Error: 0.0034
- R2 Score: 0.9601


CatBoosting Classifier
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0478
- Mean Absolute Error: 0.0023
- R2 Score: 0.9734


AdaBoost Classifier
Model performance for Training set
- Root Mean Squared Error: 0.0447
- Mean Absolute Error: 0.0020
- R2 Score: 0.9782
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0585
- Mean Absolute Error: 0.0034
- R2 Score: 0.9601


SVM
Model performance for Training set
- Root Mean Squared Error: 0.3191
- Mean Absolute Error: 0.1018
- R2 Score: -0.1133
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.3076
- Mean Absolute Error: 0.0946
- R2 Score: -0.1045

In [50]:

pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                 Model Name  R2_Score
5    CatBoosting Classifier  0.973385
4             XGBClassifier  0.960077
6       AdaBoost Classifier  0.960077
2             Decision Tree  0.920154
3  Random Forest Classifier  0.906847
0                     Ridge  0.028542
7                       SVM -0.104534
1    K-Neighbors Classifier -0.370687