In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [3]:
df_temp = pd.read_csv("data\_temperature.csv")
df_temp.head()

   valid_time  latitude  longitude       t2m  number
0  2024-05-01     19.05       72.8  302.6805       0
1  2024-05-01     18.80       72.8  302.3444       0

In [5]:
df_preci = pd.read_csv("data\precipitation.csv")
df_preci.head()

   valid_time  latitude  longitude   tp  number
0  2024-05-01     19.05       72.8  0.0       0
1  2024-05-01     18.80       72.8  0.0       0

In [ ]:
if os.path.exists("data\pune_weather.csv"):
    print("The file alredy exists")
else:
    df_preci = df_preci[['tp']]
    df_merged = df_temp.join(df_preci, how="left")
    df_merged.to_csv("data/pune_weather.csv")
    print("The file has been created")