In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [22]:
file_paths = {
    "max_temperature": "data/max_temperature.csv",
    "mean_temperature": "data/mean_temperature.csv",
    "max_precipitation": "data/max_precipitation.csv",
    "mean_precipitation": "data/mean_precipitation.csv",
    "mslp": "data/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

# Save to a new CSV file
if os.path.exists("data/merged/merged_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/merged/merged_data.csv", index=False)
    print("File created")

# Display the merged DataFrame head

File alreay exists

In [23]:
df = pd.read_csv("data\merged\merged_data.csv")
df

,valid_time,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,01-01-24,18.80,72.8,300.28345,298.79312,0.0,0.0,101279.910,NaN,NaN,NaN,NaN,NaN
1,01-01-24,19.05,72.8,300.91122,298.72922,0.0,0.0,101281.370,NaN,NaN,NaN,NaN,NaN
2,02-01-24,18.80,72.8,300.19160,298.49875,0.0,0.0,101224.320,NaN,NaN,NaN,NaN,NaN
3,02-01-24,19.05,72.8,300.74103,298.40060,0.0,0.0,101227.850,NaN,NaN,NaN,NaN,NaN
4,03-01-24,18.80,72.8,299.84067,298.13846,0.0,0.0,101160.195,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,29-12-24,19.05,72.8,300.16570,298.23690,0.0,0.0,101466.620,NaN,NaN,NaN,NaN,NaN
728,30-12-24,18.80,72.8,300.97717,298.98740,0.0,0.0,101442.690,NaN,NaN,NaN,NaN,NaN
729,30-12-24,19.05,72.8,301.34230,299.03720,0.0,0.0,101448.500,NaN,NaN,NaN,NaN,NaN
730,31-12-24,18.80,72.8,300.60540,299.00990,0.0,0.0,101487.400,NaN,NaN,NaN,NaN,NaN
731,31-12-24,19.05,72.8,301.33770,299.07617,0.0,0.0,101493.870,NaN,NaN,NaN,NaN,NaN