In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [4]:
file_paths = {
    "max_temperature": "data/attributes/max_temperature.csv",
    "mean_temperature": "data/attributes/mean_temperature.csv",
    "max_precipitation": "data/attributes/max_precipitation.csv",
    "mean_precipitation": "data/attributes/mean_precipitation.csv",
    "mslp": "data/attributes/mslp.csv",
}

# Initialize an empty list to store DataFrames
dfs = []

# Read each CSV and extract relevant columns
for name, path in file_paths.items():
    df = pd.read_csv(path)
    # Identify unique columns (excluding common ones)
    unique_cols = [col for col in df.columns if col not in ['valid_time', 'latitude', 'longitude']]
    if unique_cols:
        unique_col = unique_cols[0]  # Assuming one unique column per file
        df = df[['valid_time', 'latitude', 'longitude', unique_col]]
        df.rename(columns={unique_col: name}, inplace=True)  # Rename to file-specific name
        dfs.append(df)

# Merge all DataFrames on common columns
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=['valid_time', 'latitude', 'longitude'], how='outer')

# Save to a new CSV file
if os.path.exists("data/merged/merged_data.csv"):
    print("File alreay exists")
else:
    merged_df.to_csv("data/merged/merged_data.csv", index=False)
    print("File created")

# Display the merged DataFrame head

File alreay exists

In [3]:
df = pd.read_csv("data\merged\merged_data.csv")
df

,valid_time,latitude,longitude,max_temperature,mean_temperature,max_precipitation,mean_precipitation,mslp
0,01-01-24,18.80,72.8,300.28345,298.79312,0.000000,0.000000,101279.91
1,01-01-24,19.05,72.8,300.91122,298.72922,0.000000,0.000000,101281.37
2,01-02-24,18.80,72.8,298.07544,296.97256,0.000031,0.000004,101541.23
3,01-02-24,19.05,72.8,298.61383,296.96880,0.000017,0.000002,101537.69
4,01-03-24,18.80,72.8,300.19815,299.41925,0.000000,0.000000,101223.40
...,...,...,...,...,...,...,...,...
727,31-08-24,19.05,72.8,301.93417,300.67007,0.000388,0.000163,100727.22
728,31-10-24,18.80,72.8,303.40050,302.30900,0.000098,0.000004,101039.02
729,31-10-24,19.05,72.8,304.09170,302.54822,0.000056,0.000002,101036.37
730,31-12-24,18.80,72.8,300.60540,299.00990,0.000000,0.000000,101487.40
731,31-12-24,19.05,72.8,301.33770,299.07617,0.000000,0.000000,101493.87