In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import os 
import sys

In [2]:
df_temp = pd.read_csv("data\_temperature.csv")
df_temp.head()

   valid_time  latitude  longitude        t2m  number
0  2024-05-01     19.05       72.8  302.68050       0
1  2024-05-01     18.80       72.8  302.34440       0
2  2024-05-02     19.05       72.8  301.81370       0
3  2024-05-02     18.80       72.8  301.58856       0
4  2024-05-03     19.05       72.8  301.32852       0

In [3]:
df_vol_soil_water_l_1 = pd.read_csv("data\_volumetric_soil_water_layer_1.csv")
df_vol_soil_water_l_1.head()

   valid_time  latitude  longitude     swvl1  number
0  2024-05-01     19.05       72.8  0.026229       0
1  2024-05-01     18.80       72.8  0.028105       0
2  2024-05-02     19.05       72.8  0.026442       0
3  2024-05-02     18.80       72.8  0.028075       0
4  2024-05-03     19.05       72.8  0.026734       0

In [4]:
df_preci = pd.read_csv("data\precipitation.csv")
df_preci.head()

   valid_time  latitude  longitude   tp  number
0  2024-05-01     19.05       72.8  0.0       0
1  2024-05-01     18.80       72.8  0.0       0
2  2024-05-02     19.05       72.8  0.0       0
3  2024-05-02     18.80       72.8  0.0       0
4  2024-05-03     19.05       72.8  0.0       0

In [5]:
df_sea_surface_temp = pd.read_csv("data\sea_surface_temperature.csv")
df_sea_surface_temp.head()

   valid_time  latitude  longitude        sst  number
0  2024-05-01     19.05       72.8  302.85666       0
1  2024-05-01     18.80       72.8  302.76273       0
2  2024-05-02     19.05       72.8  302.79294       0
3  2024-05-02     18.80       72.8  302.78848       0
4  2024-05-03     19.05       72.8  302.92545       0

In [6]:
df_soil_temp_l_1 = pd.read_csv("data\soil_temperature_level_1.csv")
df_soil_temp_l_1.head()

   valid_time  latitude  longitude       stl1  number
0  2024-05-01     19.05       72.8  303.63780       0
1  2024-05-01     18.80       72.8  303.05790       0
2  2024-05-02     19.05       72.8  303.39496       0
3  2024-05-02     18.80       72.8  302.96512       0
4  2024-05-03     19.05       72.8  303.41757       0

In [7]:
df_soil_type = pd.read_csv("data\soil_type.csv")
df_soil_type.head()

   valid_time  latitude  longitude  slt  number
0  2024-05-01     19.05       72.8  0.0       0
1  2024-05-01     18.80       72.8  0.0       0
2  2024-05-02     19.05       72.8  0.0       0
3  2024-05-02     18.80       72.8  0.0       0
4  2024-05-03     19.05       72.8  0.0       0

In [8]:
df_surface_pressure = pd.read_csv("data\surface_pressure.csv")
df_surface_pressure.head()

   valid_time  latitude  longitude          sp  number
0  2024-05-01     19.05       72.8  100438.910       0
1  2024-05-01     18.80       72.8  100375.410       0
2  2024-05-02     19.05       72.8  100484.240       0
3  2024-05-02     18.80       72.8  100417.945       0
4  2024-05-03     19.05       72.8  100586.960       0

In [9]:
# if os.path.exists("data\pune_weather.csv"):
#     print("The file alredy exists")
# else:
#     df_preci = df_preci[['tp']]
#     df_merged = df_temp.join(df_preci, how="left")
#     df_merged.to_csv("data/pune_weather.csv")
#     print("The file has been created")
#